{% extends "base.html" %}


{% block title %}
    Περί
{% endblock title %}


{% block content %}


<main role="main" class="container">


    <h2 class="aba_header text-center">Περί του ιστολογίου</h2>
    <hr>

    <div class="container">
        <div class="row align-items-top">
            <div class="col-md-12">
                <div class="d-flex justify-content-center text-center">
					<span>
						<img src="{{ url_for('static', filename='images/articles_images/about_img.png') }}" alt="" class="img-responsive a_image" width="340px" height="142px">
					</span>
                </div>
                <h4 class="d-flex justify-content-center text-center">
                    Το γράψιμο ωφελεί τον νου<br>
                </h4>
                <div class="justify-content-center text-center"><br>
					<h6>
						Αν σου αρέσει το γράψιμο, <br>
						Αν νοιάζεσαι να συν-διαμορφώσεις πολιτισμό, <br>
						Αν ενδιαφέρεσαι να μοιραστείς σκέψεις και απόψεις, <br><br>
						Είσαι ευπρόσδεκτος !<br>
					</h6>
                </div> 
				<!-- btn-default  -->
                <div class="justify-content-center text-center">
						<button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#demo">Όροι & Προϋποθέσεις Χρήσης</button>
						<div id="demo" class="collapse w3-light-grey">
							<em>Αποφύγετε την υβριστική γραφή ή άλλου είδους ανάρμοστο περιεχόμενο.<br>
								Τα κείμενα που δημοσιεύονται εκφράζουν τις απόψεις των συγγραφέων τους.<br>
								Αλλαγή ή διαγραφή κειμένου, μπορεί να γίνει μόνο από τον συγγραφέα του.<br>
								Ο Διαχειριστής έχει δικαίωμα κατά την απόλυτη κρίση του, να διακόψει προσωρινά
								ή οριστικά, τη δυνατότητα πρόσβασης σε χρήστες-μέλη, με παραβατική συμπεριφορά.
							</em>
						</div>
                </div>
				
            </div>
        </div>
    </div>

</main>


{% endblock content %}


