  <footer class="page-footer font-small stylish-color-dark pt-1 mt-4">
    <div class="footer-copyright py-3 text-center">
		<font size="5">&#169 </font>
        2021 -
		<script>document.write(new Date().getFullYear())</script>
		<a class="navbar-brand" href="/about/"><font color="orange"><i>&nbsp;Mathesis</i></font> </a>	
        

	<!-- visitors counter -->
        <a href="https://www.freecounterstat.com" title="website click counter" 
		    style="float: right; margin: 5px 25px; font-size: 10px;">
		    <img src="https://counter9.stat.ovh/private/freecounterstat.php?c=73xlba954xqbnawmcl73jdbrzswhn8a4" 
			border="0" title="website click counter" alt="website click counter">
		</a>
	
    </div>
  </footer>
